/*globales del body*/
body{padding: 300px;}

/*cabecera MI PAGINA PERSONAL*/

h1{text-align: center;}
header {background-image: url(/imgenes/IMAGEN.png); background-size: 100% 100%; }

/*Sobre mi*/
h2 {color: chartreuse;margin: 0;text-align: center;}

/*skills*/
h3 {color: greenyellow;margin: 0; text-align: center;}
h3 {border-style: solid;}
.anos:focus{background-color: blueviolet;} 

/*clientes*/
h6{text-align: center;}




/*formulario de contacto*/
h4{text-align: center;}

/*footer*/

footer {height: 50px;}
         footer p {text-align: center;line-height: 3; }
